@keyframes intro {
  from {
    opacity: 0;
    margin-top: -10px;
    margin-bottom: 10px; }
  to {
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px; } }

* {
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1em; }

.show-mobile {
  display: none; }

body {
  background: #fafafa; }

h1, h2, h6 {
  text-transform: uppercase; }

p, a, ul, li {
  font-weight: 500;
  font-size: 14.4px;
  line-height: 1.5em; }

a {
  color: inherit; }
  a:not(.button):hover {
    text-decoration: underline; }

.button {
  white-space: nowrap;
  border-radius: 4px;
  padding: 7px 13px;
  transition: background 0.1s ease 0s, color 0.1s ease 0s;
  display: inline-block; }
  .button i {
    margin-right: 2px; }

.animate #bio, .animate .profile-wrap, .animate #navbar .content {
  animation: intro 0.5s ease 0.1s 1 backwards; }

.animate > .content {
  animation: intro 0.5s ease 0.4s 1 backwards; }

.no-scroll {
  overflow: hidden; }

body > .content {
  padding: 12.5px;
  padding-bottom: 46.5px; }
  body > .content .main, body > .content .card, body > .content .img-wrap, body > .content h1 {
    margin: 0 12.5px; }
  body > .content h1 {
    margin-bottom: 20px;
    color: #121212; }
  body > .content h2, body > .content hr {
    margin-bottom: 10px; }

.profile {
  max-width: 150px;
  border-radius: 100%;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }

#navbar {
  background: transparent;
  padding: 17.5px 0;
  transition: all 0.2s ease 0s;
  position: fixed;
  width: 100%;
  z-index: 2;
  color: #121212; }
  #navbar .content {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  #navbar a {
    margin-left: 20px;
    text-transform: uppercase; }
  #navbar button {
    display: none;
    outline: none;
    height: 16px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 70px;
    width: 25px; }
    #navbar button span {
      position: relative;
      display: block;
      height: 2px;
      width: 100%;
      background-color: #121212;
      transition: all 0.2s ease 0s; }

.scroll {
  background: #121212 !important;
  color: #ffffff !important;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }
  .scroll > .content > button > span {
    background-color: #ffffff !important; }

hr {
  width: 19px;
  height: 2px;
  border: none; }

.card {
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26);
  display: flex;
  border-radius: 12px;
  padding: 35px 12.5px; }
  .card:nth-child(odd) {
    flex-direction: row-reverse; }
  .card:not(:last-child) {
    margin-bottom: 37px !important; }
  .card img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto !important;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0; }
  .card .main {
    display: flex;
    flex-direction: column; }
  .card .img-wrap {
    padding: 0;
    position: relative;
    overflow: hidden; }

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .buttons .button {
    margin-right: 25px;
    margin-top: 14px; }

footer {
  text-align: center;
  padding: 25px;
  border-top: 1px solid #e0e0e0;
  background: #ffffff;
  color: #121212; }

#material-nutrition {
  background: #00695b;
  color: #ffffff; }
  #material-nutrition hr {
    background: #ffffff; }
  #material-nutrition .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #00695b; }
    #material-nutrition .button:hover {
      background: #00695b;
      color: #ffffff; }

#verton {
  background: #252525;
  color: #ffffff; }
  #verton hr {
    background: #ffffff; }
  #verton .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #252525; }
    #verton .button:hover {
      background: #252525;
      color: #ffffff; }

#dfab {
  background: #16687D;
  color: #ffffff; }
  #dfab hr {
    background: #ffffff; }
  #dfab .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #16687D; }
    #dfab .button:hover {
      background: #16687D;
      color: #ffffff; }

#wolfson {
  background: #222222;
  color: #ffffff; }
  #wolfson hr {
    background: #ffffff; }
  #wolfson .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #222222; }
    #wolfson .button:hover {
      background: #222222;
      color: #ffffff; }

@media only screen and (max-width: 915px) {
  .content {
    margin: auto;
    max-width: 790px; }
    .content p {
      margin-bottom: -2px; }
  #about {
    background: #ffffff;
    color: #121212;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e0e0; }
    #about hr {
      background: #121212; }
    #about .button {
      border: 1px solid #121212;
      background: #121212;
      color: #ffffff; }
      #about .button:hover {
        background: #ffffff;
        color: #121212; }
    #about hr {
      margin-bottom: 11px; }
    #about hr, #about .profile:not(.show-mobile) {
      margin-top: 13px; }
    #about h2 {
      margin-top: 13px; }
    #about .content {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 25px; }
    #about #bio {
      width: 50%; }
    #about #social {
      display: flex;
      flex-direction: column;
      margin-top: 17px; }
      #about #social a {
        margin-bottom: 5px;
        white-space: nowrap; }
  #material-nutrition .main, #verton .main {
    flex: 0 0 458.9px; }
  #material-nutrition .img-wrap, #verton .img-wrap {
    flex: 0 0 206.1px; }
  #dfab .main, #wolfson .main {
    flex: 0 0 411.5px; }
  #dfab .img-wrap, #wolfson .img-wrap {
    flex: 0 0 253.5px; } }

@media only screen and (max-width: 467.0594px) {
  #logo {
    width: 297.2856px;
    text-align: center; }
    #logo h1 {
      border: 2.4px solid;
      font-size: 24px;
      padding: 2.4px 0; }
    #logo h6 {
      margin-top: 4.8px;
      font-size: 11.7427812px; }
  #about .content {
    padding-top: 75.3900011098px !important; }
  .anchor {
    display: block;
    height: 112.8900011098px;
    margin-top: -112.8900011098px;
    visibility: hidden; } }

@media only screen and (max-width: 467.0594px) and (max-width: 815px) {
  nav div {
    height: 57.8900011098px; } }

@media only screen and (max-width: 442.2856px) {
  #logo {
    width: 272.5118px;
    text-align: center; }
    #logo h1 {
      border: 2.2px solid;
      font-size: 22px;
      padding: 2.2px 0; }
    #logo h6 {
      margin-top: 4.4px;
      font-size: 10.7642161px; }
  #about .content {
    padding-top: 70.5658343507px !important; }
  .anchor {
    display: block;
    height: 108.0658343507px;
    margin-top: -108.0658343507px;
    visibility: hidden; } }

@media only screen and (max-width: 442.2856px) and (max-width: 815px) {
  nav div {
    height: 53.0658343507px; } }

@media only screen and (max-width: 417.5118px) {
  #logo {
    width: 247.738px;
    text-align: center; }
    #logo h1 {
      border: 2px solid;
      font-size: 20px;
      padding: 2px 0; }
    #logo h6 {
      margin-top: 4px;
      font-size: 9.785651px; }
  #about .content {
    padding-top: 65.7416675915px !important; }
  .anchor {
    display: block;
    height: 103.2416675915px;
    margin-top: -103.2416675915px;
    visibility: hidden; } }

@media only screen and (max-width: 417.5118px) and (max-width: 815px) {
  nav div {
    height: 48.2416675915px; } }

@media only screen and (max-width: 392.738px) {
  #logo {
    width: 222.9642px;
    text-align: center; }
    #logo h1 {
      border: 1.8px solid;
      font-size: 18px;
      padding: 1.8px 0; }
    #logo h6 {
      margin-top: 3.6px;
      font-size: 8.8070859px; }
  #about .content {
    padding-top: 60.9175008324px !important; }
  .anchor {
    display: block;
    height: 98.4175008324px;
    margin-top: -98.4175008324px;
    visibility: hidden; } }

@media only screen and (max-width: 392.738px) and (max-width: 815px) {
  nav div {
    height: 43.4175008324px; } }

@media only screen and (max-width: 367.9642px) {
  #logo {
    width: 198.1904px;
    text-align: center; }
    #logo h1 {
      border: 1.6px solid;
      font-size: 16px;
      padding: 1.6px 0; }
    #logo h6 {
      margin-top: 3.2px;
      font-size: 7.8285208px; }
  #about .content {
    padding-top: 56.0933340732px !important; }
  .anchor {
    display: block;
    height: 93.5933340732px;
    margin-top: -93.5933340732px;
    visibility: hidden; } }

@media only screen and (max-width: 367.9642px) and (max-width: 815px) {
  nav div {
    height: 38.5933340732px; } }

@media only screen and (max-width: 343.1904px) {
  #logo {
    width: 173.4166px;
    text-align: center; }
    #logo h1 {
      border: 1.4px solid;
      font-size: 14px;
      padding: 1.4px 0; }
    #logo h6 {
      margin-top: 2.8px;
      font-size: 6.8499557px; }
  #about .content {
    padding-top: 51.2691673141px !important; }
  .anchor {
    display: block;
    height: 88.7691673141px;
    margin-top: -88.7691673141px;
    visibility: hidden; } }

@media only screen and (max-width: 343.1904px) and (max-width: 815px) {
  nav div {
    height: 33.7691673141px; } }

@media only screen and (max-width: 318.4166px) {
  #logo {
    width: 148.6428px;
    text-align: center; }
    #logo h1 {
      border: 1.2px solid;
      font-size: 12px;
      padding: 1.2px 0; }
    #logo h6 {
      margin-top: 2.4px;
      font-size: 5.8713906px; }
  #about .content {
    padding-top: 46.4450005549px !important; }
  .anchor {
    display: block;
    height: 83.9450005549px;
    margin-top: -83.9450005549px;
    visibility: hidden; } }

@media only screen and (max-width: 318.4166px) and (max-width: 815px) {
  nav div {
    height: 28.9450005549px; } }

@media only screen and (max-width: 293.6428px) {
  #logo {
    width: 123.869px;
    text-align: center; }
    #logo h1 {
      border: 1px solid;
      font-size: 10px;
      padding: 1px 0; }
    #logo h6 {
      margin-top: 2px;
      font-size: 4.8928255px; }
  #about .content {
    padding-top: 41.6208337958px !important; }
  .anchor {
    display: block;
    height: 79.1208337958px;
    margin-top: -79.1208337958px;
    visibility: hidden; } }

@media only screen and (max-width: 293.6428px) and (max-width: 815px) {
  nav div {
    height: 24.1208337958px; } }

@media only screen and (max-width: 268.869px) {
  #logo {
    width: 99.0952px;
    text-align: center; }
    #logo h1 {
      border: 0.8px solid;
      font-size: 8px;
      padding: 0.8px 0; }
    #logo h6 {
      margin-top: 1.6px;
      font-size: 3.9142604px; }
  #about .content {
    padding-top: 36.7966670366px !important; }
  .anchor {
    display: block;
    height: 74.2966670366px;
    margin-top: -74.2966670366px;
    visibility: hidden; } }

@media only screen and (max-width: 268.869px) and (max-width: 815px) {
  nav div {
    height: 19.2966670366px; } }

@media only screen and (max-width: 244.0952px) {
  #logo {
    width: 74.3214px;
    text-align: center; }
    #logo h1 {
      border: 0.6px solid;
      font-size: 6px;
      padding: 0.6px 0; }
    #logo h6 {
      margin-top: 1.2px;
      font-size: 2.9356953px; }
  #about .content {
    padding-top: 31.9725002775px !important; }
  .anchor {
    display: block;
    height: 69.4725002775px;
    margin-top: -69.4725002775px;
    visibility: hidden; } }

@media only screen and (max-width: 244.0952px) and (max-width: 815px) {
  nav div {
    height: 14.4725002775px; } }

@media only screen and (max-width: 219.3214px) {
  #logo {
    width: 49.5476px;
    text-align: center; }
    #logo h1 {
      border: 0.4px solid;
      font-size: 4px;
      padding: 0.4px 0; }
    #logo h6 {
      margin-top: 0.8px;
      font-size: 1.9571302px; }
  #about .content {
    padding-top: 27.1483335183px !important; }
  .anchor {
    display: block;
    height: 64.6483335183px;
    margin-top: -64.6483335183px;
    visibility: hidden; } }

@media only screen and (max-width: 219.3214px) and (max-width: 815px) {
  nav div {
    height: 9.6483335183px; } }

@media only screen and (max-width: 194.5476px) {
  #logo {
    width: 24.7738px;
    text-align: center; }
    #logo h1 {
      border: 0.2px solid;
      font-size: 2px;
      padding: 0.2px 0; }
    #logo h6 {
      margin-top: 0.4px;
      font-size: 0.9785651px; }
  #about .content {
    padding-top: 22.3241667592px !important; }
  .anchor {
    display: block;
    height: 59.8241667592px;
    margin-top: -59.8241667592px;
    visibility: hidden; } }

@media only screen and (max-width: 194.5476px) and (max-width: 815px) {
  nav div {
    height: 4.8241667592px; } }

@media only screen and (max-width: 169.7738px) {
  #logo {
    width: 0px;
    text-align: center; }
    #logo h1 {
      border: 0px solid;
      font-size: 0px;
      padding: 0px 0; }
    #logo h6 {
      margin-top: 0px;
      font-size: 0px; }
  #about .content {
    padding-top: 17.5px !important; }
  .anchor {
    display: block;
    height: 55px;
    margin-top: -55px;
    visibility: hidden; } }

@media only screen and (max-width: 169.7738px) and (max-width: 815px) {
  nav div {
    height: 0px; } }

@media only screen and (max-width: 145px) {
  #logo {
    width: -24.7738px;
    text-align: center; }
    #logo h1 {
      border: -0.2px solid;
      font-size: -2px;
      padding: -0.2px 0; }
    #logo h6 {
      margin-top: -0.4px;
      font-size: -0.9785651px; }
  #about .content {
    padding-top: 12.6758332408px !important; }
  .anchor {
    display: block;
    height: 50.1758332408px;
    margin-top: -50.1758332408px;
    visibility: hidden; } }

@media only screen and (max-width: 145px) and (max-width: 815px) {
  nav div {
    height: -4.8241667592px; } }

@media only screen and (min-width: 454.6725px) {
  #logo {
    width: 309.6725px;
    text-align: center; }
    #logo h1 {
      border: 2.5px solid;
      font-size: 25px;
      padding: 2.5px 0; }
    #logo h6 {
      margin-top: 5px;
      font-size: 12.23206375px; }
  #about .content {
    padding-top: 77.8020844894px !important; }
  .anchor {
    display: block;
    height: 115.3020844894px;
    margin-top: -115.3020844894px;
    visibility: hidden; } }

@media only screen and (min-width: 454.6725px) and (max-width: 815px) {
  nav div {
    height: 60.3020844894px; } }

@media only screen and (min-width: 915px) {
  .content {
    margin: auto;
    max-width: 890px; }
    .content p {
      margin-bottom: -2px; }
  #about {
    background: #ffffff;
    color: #121212;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e0e0; }
    #about hr {
      background: #121212; }
    #about .button {
      border: 1px solid #121212;
      background: #121212;
      color: #ffffff; }
      #about .button:hover {
        background: #ffffff;
        color: #121212; }
    #about hr {
      margin-bottom: 11px; }
    #about hr, #about .profile:not(.show-mobile) {
      margin-top: 13px; }
    #about h2 {
      margin-top: 13px; }
    #about .content {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 25px; }
    #about #bio {
      width: 50%; }
    #about #social {
      display: flex;
      flex-direction: column;
      margin-top: 17px; }
      #about #social a {
        margin-bottom: 5px;
        white-space: nowrap; }
  #material-nutrition .main, #verton .main {
    flex: 0 0 524.9px; }
  #material-nutrition .img-wrap, #verton .img-wrap {
    flex: 0 0 240.1px; }
  #dfab .main, #wolfson .main {
    flex: 0 0 471.5px; }
  #dfab .img-wrap, #wolfson .img-wrap {
    flex: 0 0 293.5px; } }

@media only screen and (max-width: 815px) {
  .card {
    flex-direction: column-reverse !important; }
    .card .img-wrap {
      margin-bottom: 25px !important; }
  .main {
    flex: auto !important; }
  #navbar button {
    display: flex !important; }
  #nav-wrapper.open {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.75); }
    #nav-wrapper.open nav {
      right: 0; }
  #nav-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    transition: background 0.2s ease 0s; }
    #nav-wrapper span {
      margin-top: 3px; }
      #nav-wrapper span:first-child {
        transform: rotate(45deg) translate(4.4px, 4.4px); }
      #nav-wrapper span:last-child {
        transform: rotate(-45deg) translate(4.4px, -4.4px); }
  nav {
    transition: right 0.5s ease 0s;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 213px;
    height: 100vh;
    right: -242px;
    position: absolute;
    padding: 0 25px;
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }
    nav a {
      margin-bottom: 8px;
      color: #121212;
      margin-left: 0 !important; }
    nav div {
      margin: 17.5px 0;
      display: flex;
      align-items: center; } }

@media only screen and (max-width: 630px) {
  #bio {
    width: 100% !important; }
  .profile {
    max-width: 125px !important;
    margin-top: 17.5px; }
  .show-mobile {
    display: block; }
  .hide-mobile {
    display: none; }
  #dfab .img-wrap, #wolfson .img-wrap {
    flex: auto !important; }
    #dfab .img-wrap img, #wolfson .img-wrap img {
      position: initial; } }
