* {
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1em; }

body {
  background: #fafafa; }

h1, h2, h6 {
  text-transform: uppercase; }

p, a, ul, li, i {
  font-weight: 500;
  font-size: 14.4px;
  line-height: 1.5em; }

a {
  color: inherit; }

.content {
  margin: auto;
  max-width: 890px; }

body > .content {
  padding: 12.5px; }
  body > .content hr, body > .content h1, body > .content h2, body > .content p, body > .content .buttons, body > .content .card, body > .content img {
    margin: 0 12.5px; }
  body > .content h1 {
    margin-bottom: 20px; }
  body > .content h2, body > .content hr {
    margin-bottom: 10px; }
  body > .content p {
    margin-bottom: 12px; }

#logo {
  width: 309.6725px;
  text-align: center; }
  #logo h1 {
    border: 2.5px solid;
    font-size: 25px;
    padding: 2.5px 0; }
  #logo h6 {
    margin-top: 5px;
    font-size: 12.23206375px; }

img#profile {
  max-width: 150px;
  border-radius: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

#about {
  background: #ffffff;
  color: #121212;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26);
  margin-bottom: 25px; }
  #about .button {
    border: 1px solid #121212;
    white-space: nowrap;
    border-radius: 4px;
    background: #121212;
    padding: 7px 13px;
    transition: background 0.1s ease 0s, color 0.1s ease 0s;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    text-transform: uppercase; }
    #about .button:hover {
      background: #ffffff;
      color: #121212; }
    #about .button i {
      margin-right: 2px; }
  #about hr {
    background: #121212; }
  #about .content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px;
    padding-top: 95px; }
  #about #desc {
    width: 50%; }
  #about p {
    margin: 10px 0; }
  #about #social {
    display: flex;
    flex-direction: column;
    margin-top: 13px; }
    #about #social a {
      margin-bottom: 5px; }
      #about #social a:hover {
        text-decoration: underline; }
  #about #logo {
    margin-bottom: 10px; }

#navbar {
  background: transparent;
  height: 95px;
  transition: 0.1s ease 0s;
  position: fixed;
  width: 100%;
  z-index: 2; }
  #navbar .content {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  #navbar a {
    text-transform: uppercase;
    margin-left: 20px; }
    #navbar a:hover {
      text-decoration: underline; }

.scroll {
  background: #121212 !important;
  color: #ffffff;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }

hr {
  width: 19px;
  height: 2px;
  border: none; }

.card {
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26);
  display: flex;
  padding: 25px 12.5px;
  margin-bottom: 37px !important; }
  .card img {
    position: absolute;
    /*
		left: 0;
    top: 0;
    min-height: 100%;
		*/
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto !important; }
  .card .main {
    display: flex;
    flex-direction: column;
    flex: 0 0 66%; }
  .card .img-wrap {
    padding: 0;
    position: relative;
    overflow: hidden;
    flex: 0 0 33%;
    /*
		&:first-child img {
			left: 0;
		}
		&:last-child img {
			right: 0;
		}
		*/ }
  .card .buttons {
    display: flex;
    flex-direction: row; }
    .card .buttons .button {
      margin-right: 25px; }

#material-nutrition {
  background: #00695b;
  color: #ffffff; }
  #material-nutrition .button {
    border: 1px solid #ffffff;
    white-space: nowrap;
    border-radius: 4px;
    background: #ffffff;
    padding: 7px 13px;
    transition: background 0.1s ease 0s, color 0.1s ease 0s;
    color: #00695b;
    display: inline-block;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    text-transform: uppercase; }
    #material-nutrition .button:hover {
      background: #00695b;
      color: #ffffff; }
    #material-nutrition .button i {
      margin-right: 2px; }
  #material-nutrition hr {
    background: #ffffff; }

#verton {
  background: #252525;
  color: #ffffff; }
  #verton .button {
    border: 1px solid #ffffff;
    white-space: nowrap;
    border-radius: 4px;
    background: #ffffff;
    padding: 7px 13px;
    transition: background 0.1s ease 0s, color 0.1s ease 0s;
    color: #252525;
    display: inline-block;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    text-transform: uppercase; }
    #verton .button:hover {
      background: #252525;
      color: #ffffff; }
    #verton .button i {
      margin-right: 2px; }
  #verton hr {
    background: #ffffff; }

@media only screen and (max-width: 309.6725px) {
  body > .content {
    justify-content: center; } }
