$site-margin: 25px;
$card-layout-factor: 2.5 * $site-margin;
$main-transition-values: 0.2s ease 0s;
$paragraph-font-size: 14.4px;
$site-margin-fraction: $site-margin * 0.5;
$navbar-padding: 17.5px;
$nav-menu-icon-width: 25px;
$nav-menu-icon-margin: 45px;
$whitespace-border: 1px solid #e0e0e0;
$box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26);
$mobile-nav-width: 214px;
$content-widths: 890px, 790px;
$last-content-width: nth($content-widths, length($content-widths));
$first-logo-font-size: 25px;
$first-content-width: nth($content-widths, 1);
$text-color: #121212;
$background-color: #ffffff;
$intro-animation-height: 10px;

$projects: "#material-nutrition, #verton";
$freelance: "#dfab, #wolfson";

@keyframes intro {
	from {
		opacity: 0;
		margin-top: -10px;
		margin-bottom: 10px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@function logo-border-width($logo-font-size) {
	@return $logo-font-size * 0.1;
}

@function logo-width($logo-font-size) {
	@return (($logo-font-size * 11.079) * 1.1) + (logo-border-width($logo-font-size) * 2);
}

@function logo-top-bottom-padding($logo-font-size) {
	@return $logo-font-size * 0.1;
}

@function logo-subtext-top-margin($logo-font-size) {
	@return 0.01614608982069767254 * logo-width($logo-font-size);
}

@function logo-subtext-font-size($logo-font-size) {
	@return 0.039 * logo-width($logo-font-size);
}

@function logo-height($logo-font-size) {
	@return ($logo-font-size / 0.833) + (logo-top-bottom-padding($logo-font-size) * 2) + (logo-border-width($logo-font-size) * 2) + logo-subtext-top-margin($logo-font-size) + (logo-subtext-font-size($logo-font-size) / 0.8);
}

@mixin navbar-scroll() {
	//TODO: Graident?
	background: $text-color !important;
	color: $background-color !important;
	box-shadow: $box-shadow;
	& > .content > button > span {
		background-color: $background-color !important;
	}
}

@mixin intro-animation($index) {
	$animation-length: 0.5s;
	$delay: 0.3s;
	@if $index != 0 {
		$delay: $delay - 0.2s;
	}
	animation: intro $animation-length ease ($delay + ($index * $animation-length)) 1 backwards;
}

@mixin card-layout($main-width, $content-width) {
	.main {
		flex: 0 0 ($content-width * $main-width) - $card-layout-factor;
	}
	.img-wrap {
		flex: 0 0 ($content-width * (1 - $main-width)) - $card-layout-factor;
	}
}

@mixin element-colors($color1, $color2) {
	hr {
		background: $color1;
	}
	background: $color2;
	color: $color1;
	.button {
		border: 1px solid $color1;
		background: $color1;
		color: $color2;
		&:hover {
			background: $color2;
			color: $color1;
		}
	}
}

@mixin set-logo-font-size($logo-font-size) {
	$logo-border-width: logo-border-width($logo-font-size);
	$logo-width: logo-width($logo-font-size);
	$logo-top-bottom-padding: logo-top-bottom-padding($logo-font-size);
	$logo-subtext-top-margin: logo-subtext-top-margin($logo-font-size);
	$logo-subtext-font-size: logo-subtext-font-size($logo-font-size);
	$logo-height: logo-height($logo-font-size);
	$anchor-height: ($navbar-padding * 2) + $logo-height + 20px;

	#logo {
		width: $logo-width;
		text-align: center;
		h1 {
			border: $logo-border-width solid;
			font-size: $logo-font-size;
			padding: $logo-top-bottom-padding 0;
		}
		h6 {
			margin-top: $logo-subtext-top-margin;
			font-size: $logo-subtext-font-size;
		}
	}

	#about .content {
		padding-top: $navbar-padding + $logo-height !important;
	}

	.anchor {
		display: block;
		height: $anchor-height;
		margin-top: -$anchor-height;
		visibility: hidden;
	}

	@media only screen and (max-width: content-width-checkpoint($last-content-width)) {
		nav div {
			height: $logo-height;
		}
	}
}

@mixin set-content-width($content-width) {
	.content {
		margin: auto;
		max-width: $content-width;
		p {
			margin-bottom: -2px;
		}
	}

	#about {
		@include element-colors($text-color, $background-color);
		margin-bottom: 25px;
		border-bottom: $whitespace-border;
		hr {
			margin-bottom: 11px;
		}
		hr, .profile:not(.show-mobile) {
			margin-top: 13px;
		}
		h2 {
			margin-top: 13px;
		}
		.content {
			justify-content: space-between;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: $site-margin;
		}
		#bio {
			width: 50%;
		}
		#social {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 17px;
			a {
				margin-bottom: 5px;
				white-space: nowrap;
			}
		}
	}

	#{$projects} {
		@include card-layout(0.66, $content-width);
	}

	#{$freelance} {
		@include card-layout(0.6, $content-width);
	}
}

* {
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
	margin: 0;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.show-mobile {
	display: none;
}

body {
	background: #fafafa;
}

h1, h2, h6 {
	text-transform: uppercase;
}

p, a, ul, li {
	font-weight: 500;
	font-size: $paragraph-font-size;
	line-height: 1.5em;
}

a {
	color: inherit;
	&:not(.button):hover {
		text-decoration: underline;
	}
}

.button {
	$transition: 0.1s ease 0s;
	white-space: nowrap;
	border-radius: 4px;
	padding: 7px 13px;
	transition: background $transition, color $transition;
	display: inline-block;
	i {
		margin-right: 2px;
	}
}

.animate {
	#bio, .profile-wrap, #navbar .content {
		@include intro-animation(0);
	}
	& > .content {
		@include intro-animation(1);
	}
}

.no-scroll {
	overflow: hidden;
}

body > .content {
	padding: $site-margin-fraction;
	padding-bottom: $site-margin-fraction + 34px;
	.main, .card, .img-wrap, h1 {
		margin: 0 $site-margin-fraction;
	}
	h1 {
		margin-bottom: 20px;
		color: $text-color;
	}
	h2, hr {
		margin-bottom: 10px;
	}
}

.profile {
	max-width: 150px;
	border-radius: 100%;
	box-shadow: $box-shadow;
}

#navbar {
	background: transparent;
	padding: $navbar-padding 0;
	transition: all $main-transition-values;
	position: fixed;
	width: 100%;
	z-index: 2;
	color: $text-color;
	.content {
		padding: 0 $site-margin;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	a {
		margin-left: 20px;
		text-transform: uppercase;
	}
	button {
		display: none;
		outline: none;
		cursor: pointer;
		flex-direction: column;
		background: transparent;
		border: none;
		padding: 0;
		margin-left: $nav-menu-icon-margin;
		width: $nav-menu-icon-width;
		span {
			position: relative;
			display: block;
			height: 2px;
			width: $nav-menu-icon-width;
			background-color: $text-color;
			transition: all $main-transition-values;
			margin: 2.5px 0;
		}
	}
}

.scroll {
	@include navbar-scroll();
}

hr {
	width: 19px;
	height: 2px;
	border: none;
}

.card {
	box-shadow: $box-shadow;
	display: flex;
	border-radius: 12px;
	padding: 35px ($site-margin * 0.5);
	&:nth-child(odd) {
		flex-direction: row-reverse;
	}
	&:not(:last-child) {
		margin-bottom: 37px !important;
	}
	img {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto !important;
		max-width: 100%;
		max-height: 100%;
		top: 0;
		bottom: 0;
	}
	.main {
		display: flex;
		flex-direction: column;
	}
	.img-wrap {
		padding: 0;
		position: relative;
		overflow: hidden;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.button {
		margin-right: 25px;
		margin-top: 14px;
	}
}

footer {
	text-align: center;
	padding: 25px;
	border-top: $whitespace-border;
	background: $background-color;
	color: $text-color;
}

::selection {
  background: $text-color;
	color: $background-color;
}

::-moz-selection {
  background: $text-color;
	color: $background-color;
}

#material-nutrition {
	@include element-colors($background-color, #00695b);
}

#verton {
	@include element-colors($background-color, #252525);
}

#dfab{
	@include element-colors($background-color, #16687D);
}

#wolfson {
	@include element-colors($background-color, #222222);
}

@function content-width-checkpoint($content-width) {
	@return $content-width + $site-margin;
}

@function logo-font-size-checkpoint($logo-font-size) {
	@return ($site-margin * 2) + logo-width($logo-font-size) + $nav-menu-icon-width + $nav-menu-icon-margin;
}

@for $i from 1 through length($content-widths) {
	@if $i != length($content-widths) {
		$content-width: nth($content-widths, $i);
		@media only screen and (max-width: content-width-checkpoint($content-width)) {
			@include set-content-width(nth($content-widths, $i + 1));
		}
	}
}

@for $i from -1px through $first-logo-font-size {
	@if $i % 2px != 0px {
		$current-logo-font-size: $first-logo-font-size - $i;
		@media only screen and (max-width: logo-font-size-checkpoint($current-logo-font-size)) {
			@include set-logo-font-size($current-logo-font-size - 2px);
		}
	}
}

@media only screen and (min-width: logo-font-size-checkpoint($first-logo-font-size)) {
	@include set-logo-font-size($first-logo-font-size);
}

@media only screen and (min-width: content-width-checkpoint($first-content-width)) {
	@include set-content-width($first-content-width);
}

@media only screen and (max-width: content-width-checkpoint($last-content-width)) {
	.card {
		flex-direction: column-reverse !important;
		.img-wrap {
			margin-bottom: $site-margin !important;
		}
	}

	.main {
		flex: auto !important;
	}

	#navbar {
		button {
			display: flex !important;
		}
	}

	#nav-wrapper.open {
		pointer-events: auto;
		background: rgba(0, 0, 0, 0.75);
		nav {
			right: 0;
		}
	}

	#nav-wrapper {
		position: fixed;
    background: rgba(0, 0, 0, 0);
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
		pointer-events: none;
		z-index: 1;
		transition: background $main-transition-values;
		span {
			margin-top: 3px;
			$transform-value: 2.5px;
			&:first-child {
				transform: rotate(45deg) translate($transform-value, $transform-value);
			}
			&:last-child {
				transform: rotate(-45deg) translate($transform-value, -$transform-value);
			}
		}
	}

	nav {
		transition: right 0.5s ease 0s;
		background: $background-color;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: $mobile-nav-width;
    height: 100vh;
		// Pixel value = box shadow area
		right: -$mobile-nav-width - 29px;
		position: absolute;
		padding: 0 25px;
		box-shadow: $box-shadow;
		a {
			margin-bottom: 8px;
			color: $text-color;
			margin-left: 0 !important;
		}
		div {
			margin: $navbar-padding 0;
			display: flex;
			align-items: center;
		}
	}
}

@media only screen and (max-width: 630px) {
	#bio {
		width: 100% !important;
		padding-top: 20px;
	}

	.profile {
		max-width: 125px !important;
		margin-top: $navbar-padding;
	}

	.show-mobile {
		display: block;
	}

	.hide-mobile {
		display: none;
	}

	#navbar {
		@include navbar-scroll();
	}


	.animate {
		#navbar {
			@include intro-animation(0);
		}
		#bio, .profile-wrap {
			@include intro-animation(1);
		}
		& > .content {
			@include intro-animation(2);
		}
	}

	.animate #navbar .content {
		animation: none;
	}

	#{$freelance} {
		.img-wrap {
			flex: auto !important;
			img {
				position: initial;
			}
		}
	}
}
