@keyframes intro {
  from {
    opacity: 0;
    margin-top: -10px;
    margin-bottom: 10px; }
  to {
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px; } }

* {
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1em; }

.show-mobile {
  display: none; }

body {
  background: #fafafa; }

h1, h2, h6 {
  text-transform: uppercase; }

p, a, ul, li {
  font-weight: 500;
  font-size: 14.4px;
  line-height: 1.5em; }

a {
  color: inherit; }
  a:not(.button):hover {
    text-decoration: underline; }

.button {
  white-space: nowrap;
  border-radius: 4px;
  padding: 7px 13px;
  transition: background 0.1s ease 0s, color 0.1s ease 0s;
  display: inline-block; }
  .button i {
    margin-right: 2px; }

.animate #bio, .animate .profile-wrap, .animate #navbar .content {
  animation: intro 0.5s ease 0.4s 1 backwards; }

.animate > .content {
  animation: intro 0.5s ease 0.7s 1 backwards; }

.no-scroll {
  overflow: hidden; }

body > .content {
  padding: 12.5px;
  padding-bottom: 46.5px; }
  body > .content .main, body > .content .card, body > .content .img-wrap, body > .content h1 {
    margin: 0 12.5px; }
  body > .content h1 {
    margin-bottom: 20px;
    color: #121212; }
  body > .content h2, body > .content hr {
    margin-bottom: 10px; }

.profile {
  max-width: 150px;
  border-radius: 100%;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }

#navbar {
  background: transparent;
  padding: 17.5px 0;
  transition: all 0.2s ease 0s;
  position: fixed;
  width: 100%;
  z-index: 2;
  color: #121212; }
  #navbar .content {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  #navbar a {
    margin-left: 20px;
    text-transform: uppercase; }
  #navbar button {
    display: none;
    outline: none;
    cursor: pointer;
    flex-direction: column;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 45px;
    width: 25px; }
    #navbar button span {
      position: relative;
      display: block;
      height: 2px;
      width: 25px;
      background-color: #121212;
      transition: all 0.2s ease 0s;
      margin: 2.5px 0; }

.scroll {
  background: #121212 !important;
  color: #ffffff !important;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }
  .scroll > .content > button > span {
    background-color: #ffffff !important; }

hr {
  width: 19px;
  height: 2px;
  border: none; }

.card {
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26);
  display: flex;
  border-radius: 12px;
  padding: 35px 12.5px; }
  .card:nth-child(odd) {
    flex-direction: row-reverse; }
  .card:not(:last-child) {
    margin-bottom: 37px !important; }
  .card img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto !important;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0; }
  .card .main {
    display: flex;
    flex-direction: column; }
  .card .img-wrap {
    padding: 0;
    position: relative;
    overflow: hidden; }

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .buttons .button {
    margin-right: 25px;
    margin-top: 14px; }

footer {
  text-align: center;
  padding: 25px;
  border-top: 1px solid #e0e0e0;
  background: #ffffff;
  color: #121212; }

::selection {
  background: #121212;
  color: #ffffff; }

::-moz-selection {
  background: #121212;
  color: #ffffff; }

#material-nutrition {
  background: #00695b;
  color: #ffffff; }
  #material-nutrition hr {
    background: #ffffff; }
  #material-nutrition .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #00695b; }
    #material-nutrition .button:hover {
      background: #00695b;
      color: #ffffff; }

#verton {
  background: #252525;
  color: #ffffff; }
  #verton hr {
    background: #ffffff; }
  #verton .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #252525; }
    #verton .button:hover {
      background: #252525;
      color: #ffffff; }

#dfab {
  background: #16687D;
  color: #ffffff; }
  #dfab hr {
    background: #ffffff; }
  #dfab .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #16687D; }
    #dfab .button:hover {
      background: #16687D;
      color: #ffffff; }

#wolfson {
  background: #222222;
  color: #ffffff; }
  #wolfson hr {
    background: #ffffff; }
  #wolfson .button {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #222222; }
    #wolfson .button:hover {
      background: #222222;
      color: #ffffff; }

@media only screen and (max-width: 915px) {
  .content {
    margin: auto;
    max-width: 790px; }
    .content p {
      margin-bottom: -2px; }
  #about {
    background: #ffffff;
    color: #121212;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e0e0; }
    #about hr {
      background: #121212; }
    #about .button {
      border: 1px solid #121212;
      background: #121212;
      color: #ffffff; }
      #about .button:hover {
        background: #ffffff;
        color: #121212; }
    #about hr {
      margin-bottom: 11px; }
    #about hr, #about .profile:not(.show-mobile) {
      margin-top: 13px; }
    #about h2 {
      margin-top: 13px; }
    #about .content {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 25px; }
    #about #bio {
      width: 50%; }
    #about #social {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 17px; }
      #about #social a {
        margin-bottom: 5px;
        white-space: nowrap; }
  #material-nutrition .main, #verton .main {
    flex: 0 0 458.9px; }
  #material-nutrition .img-wrap, #verton .img-wrap {
    flex: 0 0 206.1px; }
  #dfab .main, #wolfson .main {
    flex: 0 0 411.5px; }
  #dfab .img-wrap, #wolfson .img-wrap {
    flex: 0 0 253.5px; } }

@media only screen and (max-width: 442.0594px) {
  #logo {
    width: 297.2856px;
    text-align: center; }
    #logo h1 {
      border: 2.4px solid;
      font-size: 24px;
      padding: 2.4px 0; }
    #logo h6 {
      margin-top: 4.8px;
      font-size: 11.5941384px; }
  #about .content {
    padding-top: 75.2041976098px !important; }
  .anchor {
    display: block;
    height: 112.7041976098px;
    margin-top: -112.7041976098px;
    visibility: hidden; } }

@media only screen and (max-width: 442.0594px) and (max-width: 815px) {
  nav div {
    height: 57.7041976098px; } }

@media only screen and (max-width: 417.2856px) {
  #logo {
    width: 272.5118px;
    text-align: center; }
    #logo h1 {
      border: 2.2px solid;
      font-size: 22px;
      padding: 2.2px 0; }
    #logo h6 {
      margin-top: 4.4px;
      font-size: 10.6279602px; }
  #about .content {
    padding-top: 70.3955144757px !important; }
  .anchor {
    display: block;
    height: 107.8955144757px;
    margin-top: -107.8955144757px;
    visibility: hidden; } }

@media only screen and (max-width: 417.2856px) and (max-width: 815px) {
  nav div {
    height: 52.8955144757px; } }

@media only screen and (max-width: 392.5118px) {
  #logo {
    width: 247.738px;
    text-align: center; }
    #logo h1 {
      border: 2px solid;
      font-size: 20px;
      padding: 2px 0; }
    #logo h6 {
      margin-top: 4px;
      font-size: 9.661782px; }
  #about .content {
    padding-top: 65.5868313415px !important; }
  .anchor {
    display: block;
    height: 103.0868313415px;
    margin-top: -103.0868313415px;
    visibility: hidden; } }

@media only screen and (max-width: 392.5118px) and (max-width: 815px) {
  nav div {
    height: 48.0868313415px; } }

@media only screen and (max-width: 367.738px) {
  #logo {
    width: 222.9642px;
    text-align: center; }
    #logo h1 {
      border: 1.8px solid;
      font-size: 18px;
      padding: 1.8px 0; }
    #logo h6 {
      margin-top: 3.6px;
      font-size: 8.6956038px; }
  #about .content {
    padding-top: 60.7781482074px !important; }
  .anchor {
    display: block;
    height: 98.2781482074px;
    margin-top: -98.2781482074px;
    visibility: hidden; } }

@media only screen and (max-width: 367.738px) and (max-width: 815px) {
  nav div {
    height: 43.2781482074px; } }

@media only screen and (max-width: 342.9642px) {
  #logo {
    width: 198.1904px;
    text-align: center; }
    #logo h1 {
      border: 1.6px solid;
      font-size: 16px;
      padding: 1.6px 0; }
    #logo h6 {
      margin-top: 3.2px;
      font-size: 7.7294256px; }
  #about .content {
    padding-top: 55.9694650732px !important; }
  .anchor {
    display: block;
    height: 93.4694650732px;
    margin-top: -93.4694650732px;
    visibility: hidden; } }

@media only screen and (max-width: 342.9642px) and (max-width: 815px) {
  nav div {
    height: 38.4694650732px; } }

@media only screen and (max-width: 318.1904px) {
  #logo {
    width: 173.4166px;
    text-align: center; }
    #logo h1 {
      border: 1.4px solid;
      font-size: 14px;
      padding: 1.4px 0; }
    #logo h6 {
      margin-top: 2.8px;
      font-size: 6.7632474px; }
  #about .content {
    padding-top: 51.1607819391px !important; }
  .anchor {
    display: block;
    height: 88.6607819391px;
    margin-top: -88.6607819391px;
    visibility: hidden; } }

@media only screen and (max-width: 318.1904px) and (max-width: 815px) {
  nav div {
    height: 33.6607819391px; } }

@media only screen and (max-width: 293.4166px) {
  #logo {
    width: 148.6428px;
    text-align: center; }
    #logo h1 {
      border: 1.2px solid;
      font-size: 12px;
      padding: 1.2px 0; }
    #logo h6 {
      margin-top: 2.4px;
      font-size: 5.7970692px; }
  #about .content {
    padding-top: 46.3520988049px !important; }
  .anchor {
    display: block;
    height: 83.8520988049px;
    margin-top: -83.8520988049px;
    visibility: hidden; } }

@media only screen and (max-width: 293.4166px) and (max-width: 815px) {
  nav div {
    height: 28.8520988049px; } }

@media only screen and (max-width: 268.6428px) {
  #logo {
    width: 123.869px;
    text-align: center; }
    #logo h1 {
      border: 1px solid;
      font-size: 10px;
      padding: 1px 0; }
    #logo h6 {
      margin-top: 2px;
      font-size: 4.830891px; }
  #about .content {
    padding-top: 41.5434156708px !important; }
  .anchor {
    display: block;
    height: 79.0434156708px;
    margin-top: -79.0434156708px;
    visibility: hidden; } }

@media only screen and (max-width: 268.6428px) and (max-width: 815px) {
  nav div {
    height: 24.0434156708px; } }

@media only screen and (max-width: 243.869px) {
  #logo {
    width: 99.0952px;
    text-align: center; }
    #logo h1 {
      border: 0.8px solid;
      font-size: 8px;
      padding: 0.8px 0; }
    #logo h6 {
      margin-top: 1.6px;
      font-size: 3.8647128px; }
  #about .content {
    padding-top: 36.7347325366px !important; }
  .anchor {
    display: block;
    height: 74.2347325366px;
    margin-top: -74.2347325366px;
    visibility: hidden; } }

@media only screen and (max-width: 243.869px) and (max-width: 815px) {
  nav div {
    height: 19.2347325366px; } }

@media only screen and (max-width: 219.0952px) {
  #logo {
    width: 74.3214px;
    text-align: center; }
    #logo h1 {
      border: 0.6px solid;
      font-size: 6px;
      padding: 0.6px 0; }
    #logo h6 {
      margin-top: 1.2px;
      font-size: 2.8985346px; }
  #about .content {
    padding-top: 31.9260494025px !important; }
  .anchor {
    display: block;
    height: 69.4260494025px;
    margin-top: -69.4260494025px;
    visibility: hidden; } }

@media only screen and (max-width: 219.0952px) and (max-width: 815px) {
  nav div {
    height: 14.4260494025px; } }

@media only screen and (max-width: 194.3214px) {
  #logo {
    width: 49.5476px;
    text-align: center; }
    #logo h1 {
      border: 0.4px solid;
      font-size: 4px;
      padding: 0.4px 0; }
    #logo h6 {
      margin-top: 0.8px;
      font-size: 1.9323564px; }
  #about .content {
    padding-top: 27.1173662683px !important; }
  .anchor {
    display: block;
    height: 64.6173662683px;
    margin-top: -64.6173662683px;
    visibility: hidden; } }

@media only screen and (max-width: 194.3214px) and (max-width: 815px) {
  nav div {
    height: 9.6173662683px; } }

@media only screen and (max-width: 169.5476px) {
  #logo {
    width: 24.7738px;
    text-align: center; }
    #logo h1 {
      border: 0.2px solid;
      font-size: 2px;
      padding: 0.2px 0; }
    #logo h6 {
      margin-top: 0.4px;
      font-size: 0.9661782px; }
  #about .content {
    padding-top: 22.3086831342px !important; }
  .anchor {
    display: block;
    height: 59.8086831342px;
    margin-top: -59.8086831342px;
    visibility: hidden; } }

@media only screen and (max-width: 169.5476px) and (max-width: 815px) {
  nav div {
    height: 4.8086831342px; } }

@media only screen and (max-width: 144.7738px) {
  #logo {
    width: 0px;
    text-align: center; }
    #logo h1 {
      border: 0px solid;
      font-size: 0px;
      padding: 0px 0; }
    #logo h6 {
      margin-top: 0px;
      font-size: 0px; }
  #about .content {
    padding-top: 17.5px !important; }
  .anchor {
    display: block;
    height: 55px;
    margin-top: -55px;
    visibility: hidden; } }

@media only screen and (max-width: 144.7738px) and (max-width: 815px) {
  nav div {
    height: 0px; } }

@media only screen and (max-width: 120px) {
  #logo {
    width: -24.7738px;
    text-align: center; }
    #logo h1 {
      border: -0.2px solid;
      font-size: -2px;
      padding: -0.2px 0; }
    #logo h6 {
      margin-top: -0.4px;
      font-size: -0.9661782px; }
  #about .content {
    padding-top: 12.6913168658px !important; }
  .anchor {
    display: block;
    height: 50.1913168658px;
    margin-top: -50.1913168658px;
    visibility: hidden; } }

@media only screen and (max-width: 120px) and (max-width: 815px) {
  nav div {
    height: -4.8086831342px; } }

@media only screen and (min-width: 429.6725px) {
  #logo {
    width: 309.6725px;
    text-align: center; }
    #logo h1 {
      border: 2.5px solid;
      font-size: 25px;
      padding: 2.5px 0; }
    #logo h6 {
      margin-top: 5px;
      font-size: 12.0772275px; }
  #about .content {
    padding-top: 77.6085391769px !important; }
  .anchor {
    display: block;
    height: 115.1085391769px;
    margin-top: -115.1085391769px;
    visibility: hidden; } }

@media only screen and (min-width: 429.6725px) and (max-width: 815px) {
  nav div {
    height: 60.1085391769px; } }

@media only screen and (min-width: 915px) {
  .content {
    margin: auto;
    max-width: 890px; }
    .content p {
      margin-bottom: -2px; }
  #about {
    background: #ffffff;
    color: #121212;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e0e0; }
    #about hr {
      background: #121212; }
    #about .button {
      border: 1px solid #121212;
      background: #121212;
      color: #ffffff; }
      #about .button:hover {
        background: #ffffff;
        color: #121212; }
    #about hr {
      margin-bottom: 11px; }
    #about hr, #about .profile:not(.show-mobile) {
      margin-top: 13px; }
    #about h2 {
      margin-top: 13px; }
    #about .content {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 25px; }
    #about #bio {
      width: 50%; }
    #about #social {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 17px; }
      #about #social a {
        margin-bottom: 5px;
        white-space: nowrap; }
  #material-nutrition .main, #verton .main {
    flex: 0 0 524.9px; }
  #material-nutrition .img-wrap, #verton .img-wrap {
    flex: 0 0 240.1px; }
  #dfab .main, #wolfson .main {
    flex: 0 0 471.5px; }
  #dfab .img-wrap, #wolfson .img-wrap {
    flex: 0 0 293.5px; } }

@media only screen and (max-width: 815px) {
  .card {
    flex-direction: column-reverse !important; }
    .card .img-wrap {
      margin-bottom: 25px !important; }
  .main {
    flex: auto !important; }
  #navbar button {
    display: flex !important; }
  #nav-wrapper.open {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.75); }
    #nav-wrapper.open nav {
      right: 0; }
  #nav-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    transition: background 0.2s ease 0s; }
    #nav-wrapper span {
      margin-top: 3px; }
      #nav-wrapper span:first-child {
        transform: rotate(45deg) translate(2.5px, 2.5px); }
      #nav-wrapper span:last-child {
        transform: rotate(-45deg) translate(2.5px, -2.5px); }
  nav {
    transition: right 0.5s ease 0s;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 214px;
    height: 100vh;
    right: -243px;
    position: absolute;
    padding: 0 25px;
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }
    nav a {
      margin-bottom: 8px;
      color: #121212;
      margin-left: 0 !important; }
    nav div {
      margin: 17.5px 0;
      display: flex;
      align-items: center; } }

@media only screen and (max-width: 630px) {
  #bio {
    width: 100% !important;
    padding-top: 20px; }
  .profile {
    max-width: 125px !important;
    margin-top: 17.5px; }
  .show-mobile {
    display: block; }
  .hide-mobile {
    display: none; }
  #navbar {
    background: #121212 !important;
    color: #ffffff !important;
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.26); }
    #navbar > .content > button > span {
      background-color: #ffffff !important; }
  .animate #navbar {
    animation: intro 0.5s ease 0.4s 1 backwards; }
  .animate #bio, .animate .profile-wrap {
    animation: intro 0.5s ease 0.7s 1 backwards; }
  .animate > .content {
    animation: intro 0.5s ease 1.2s 1 backwards; }
  .animate #navbar .content {
    animation: none; }
  #dfab .img-wrap, #wolfson .img-wrap {
    flex: auto !important; }
    #dfab .img-wrap img, #wolfson .img-wrap img {
      position: initial; } }
