/* Created by Blake Weissman */

$colors_primary: #212121;
$colors_secondary: #fafafa;

$body-top-bottom-padding: 20px;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  margin: 0;
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  &:hover, i:hover {
    text-decoration: underline;
  }
}

body {
  background: $colors_primary;
  color: $colors_secondary;
  min-height: 100vh;
  padding: 0 6%;
  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

i {
  font-size: 1.5em
}

img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p {
  margin-top: 5px;
}

#about {
  height: 100%;
  padding-top: $body-top-bottom-padding;
  position: fixed;
  width: 30%;
  a {
    margin-top: 10px;
  }
  div {
    flex-direction: row;
    margin-top: 5px;
    a {
      margin-right: 15px;
    }
  }
}

#copyright {
  margin-top: 13px;
}

#name {
  font-style: italic;
  white-space: nowrap;
}

#projects {
  float: right;
  padding: $body-top-bottom-padding 0;
  width: 60%;
  &:before {
    background: linear-gradient(transparent, $colors_primary);
    bottom: 0;
    content: '';
    height: $body-top-bottom-padding;
    position: fixed;
    width: 60%;
  }
  h1 {
    margin-bottom: 10px;
  }
  div {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    a {
      @extend .button;
      margin-bottom: 5px;
    }
    img {
      float: left;
      margin-bottom: 5px;
      margin-right: 15px;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

.button {
  border: 1px solid $colors_secondary;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none !important;
  &:hover {
    background: $colors_secondary;
    color: $colors_primary;
  }
}