/* Created by Blake Weissman */

$colors_primary: #212121;
$colors_secondary: #fafafa;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  margin: 0;
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  &:hover, i:hover {
    text-decoration: underline;
  }
}

body {
  background: $colors_primary;
  color: $colors_secondary;
  min-height: 100vh;
  padding: 20px 40px;
  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    div {
      flex-direction: row;
      a {
        margin-right: 15px;
      }
    }
  }
}

i {
  font-size: 1.5em
}

#about {
  position: fixed;
  width: 30%;
}

#name {
  font-style: italic;
  white-space: nowrap;
}

#projects {
  float: right;
  width: 60%;
}