/* Created by Blake Weissman */

$colors_primary: #212121;
$colors_secondary: #fafafa;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  margin: 0;
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  &:hover, i:hover {
    text-decoration: underline;
  }
}

body {
  background: $colors_primary;
  color: $colors_secondary;
  min-height: 100vh;
  padding: 20px 40px;
  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

i {
  font-size: 1.5em
}

img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p {
  margin-top: 5px;
}

#about {
  position: fixed;
  width: 30%;
  div {
    flex-direction: row;
    a {
      margin-right: 15px;
    }
  }
}

#name {
  font-style: italic;
  white-space: nowrap;
}

#projects {
  float: right;
  width: 60%;
  h1 {
    margin-bottom: 10px;
  }
  div {
    display: block;
    margin-bottom: 20px;
    img {
      float: left;
      margin-right: 15px;
    }
  }
}